@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    margin-right: 0%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
   
}

.navlist {
    width: 70%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    

}

.navlist li {
    list-style: none;
    padding: 26px 30px;
}

.navlist li a {
   text-decoration: none;
   color: white;
}
.navlist li a:hover {
    color: grey;
 }

.rightnav {
    /* background-color: lightpink; */
    width: 30%;
    text-align: right;
}

.logo {
    width: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.logo img {
    width: 50%;
    height: 50%;
    border: 3px solid white;
    border-radius: 40px;
}

#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 9px;
}

.background {
    background: rgba(0, 0, 0, 0.7) url(152514.jpg);
    background-size: cover; 
    background-blend-mode: darken;
    /* background-size: cover; */
    background-size: auto;
    

}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 75%;

}
.firstsection {
    height: 100vh;
}

.firsthalf {
   
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
}

.secondhalf {
    width: 33%;

}
.secondhalf img {
    width: 80%;
    border: 2px solid white;
    border-radius: 15px;
    display: block;
    margin: auto;
    height: auto;

}

.text-big {
    font-size: 37px;
}

.text-small {
    font-size: 20px;
}

.btn {
    padding: 8px 20px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 10px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sm {
    padding: 3px 10px;
    vertical-align: middle;
    margin: 15px;
    border-radius: 3px;
    border: 1px solid;
}

.secright {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
}

.para {
    padding: 0 61px;
}

.secleft {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    flex-direction: row-reverse;
    font-family: 'Ubuntu', sans-serif;
}

.sectionsubtag {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thumbnail img {
    border: 2px solid black;
    border-radius: 15px;
}

.contact {
    background-color: #e8e7e4;
    height: 34vh;
}

.text-center {
    text-align: center;
}

#name, #number, #email {
    margin-left: 41%;
    width: 100%;
    max-width: 350px;
    /* text-align: center; */
    /* margin: auto; */
    /* align-items: center; */
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 18px;
}

.btn-dark {
    color: black;
    border: 2px solid black;
    text-align: center;
    margin-left: 48%;
    margin-top: 20px;
}

.textfooter {
    text-align: center;
    
    padding: 50px;
    color: white;
    background-color: rgb(50, 43, 95);
}

@media only screen and (max-width: 1140px) {
    .navlist {
        flex-direction: column;
    }

    .navbar {
        flex-direction: column;
    }
    
    .rightnav {
        text-align: center;
    }


}